<div class="login-container">
    <img class="background-image" src="../../../assets/login.jpg" alt="Login Background">
    <div class="card">
        <div class="text">Login</div>
        <div class="card-body">
            <div class="username">
                <label for="username">Username</label>
                <input id="username" type="text" placeholder="Enter your username">
            </div>
            <div class="password">
                <label for="password">Password</label>
                <input id="password" type="password" placeholder="Enter your password">
            </div>
        </div>
        <button class="login-button">Login</button>
        <div class="icons">
            <i class="fa-brands fa-google"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>
</div>
