<h1>settings!</h1>
<div class="card">
    <div class="card-head">
        Frictionless
        <div class="card-body" @fade>
            Built by the Angular team to integrate seamlessly with Angular.Start from scratch or drop into your existing applications.
        </div>
    </div>
</div>
<div class="card">
    <div class="card-head">
        Versatile
        <div class="card-body" @fade>
            Provide tools that help developers build their own custom components with common interaction patterns.Customizable within the bounds of the Material Design specification.
        </div>
    </div>
</div>
<div class="card">
    <div class="card-head">
        High quality
        <div class="card-body" @fade>
            Internationalized and accessible components for everyone. Well tested to ensure performance and reliability.Straightforward APIs with consistent cross platform behaviour.
        </div>
    </div>
</div>